*{
    margin: 0;
    padding: 0;
}
.menu{
    width: 1000px;
    margin: 30px auto;
}
ul li{
    list-style-type: none;
    float: left;
    padding: 10px 20px;
    background-color: darkgray;
}
ul li a{
    text-decoration: none;
    color: white;
}
ul li ul{
    display: none;
    position: absolute;
    width: 200px;
}
ul li:hover{
    background-color: darkgoldenrod;
}
ul li:hover ul{
   display: block;
}
ul li ul li a{
    display: block;

}