*{
    padding: 0;
    margin: 0;
}
.menu{
    width: 1200px;
    margin: 50px auto;
}
ul li{
    list-style-type: none;
    background-color: chocolate;
    float: left;
    width: 120px;
    height: 40px;
    line-height:40px;
    text-align: center;
    border: 1px solid white;
}
ul li a{
    text-decoration: none;
    font-weight: bold;
    display: block;
    color: white;

}
ul li ul li{
    display: none;
}
ul li a:hover{
    background-color: #FFA500;
}

ul li:hover ul li{
    display: block;
}