ul#menu, ul#menu ul#sub {
    padding:0;
    margin: 0;
}

ul#menu li {
     list-style-type: none;    /* code này để bỏ các dấu chấm tròn*/
     float: left;    /* code này để menu dàn hàng ngang*/
     margin-right: 10px;    /* tạo lề cho các menu*/
 }
ul#menu li a {
    text-decoration: none;
    background-color: #900;
    padding: 5px;
    color: white;
}
ul#menu li {
    positon: relative;
}
ul#menu li ul#sub {
    display: none;
    position: absolute;
    width: 100px;
}
ul#menu li ul#sub li {
    margin-top: 10px;
    margin-bottom: 5px;
}
ul#menu li:hover ul#sub {
    display: block;
}
