*{
    margin: 0;
    padding: 0;
}
.menu{
    width: 1000px;
    margin: 50px auto;
}
ul li{
    list-style-type: none;
    float:left;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: goldenrod;
    border: 1px solid white;
}
ul li a{
    text-decoration: none;
    color: white;
    display: block;
    font-weight: bold;
}
ul li a:hover{
    background-color: darkcyan;
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}