* {
    padding: 0px;
    margin: 0;
}
.menu{
    margin: 50px 0 0 50px;
}
ul li{
    list-style-type: none;
    height: 35px;
    line-height: 35px;
    width: 150px;
    border-bottom:5px solid #f1f1f1;
    background-color: #2fa1b3;
    text-align: center;
    position: relative;
}
ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #f1f1f1;
    display: block;
}
.menu ul li:hover{
    background-color: silver;
}
ul li ul{
    display: none;
    position: absolute;
    left: 152px;
    top:0;
}

.menu ul li:hover ul {
    display: block;
}